
<!DOCTYPE HTML>

<!--
	Arcana by HTML5 UP
	html5up.net | 
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		@await Html.PartialAsync("HeaderPartial")
		@RenderBody()
		


		<!-- Main -->
		@*@await Html.PartialAsync("MainPartial")*@

		

		<!-- Footer -->
		@await Html.PartialAsync("FooterPartial")
	</div>

	<!-- Scripts -->
	@await Html.PartialAsync("JsPartial")

</body>
</html>
