<div id="header">

	<!-- Logo -->
	<h3><a asp-action="Index"asp-controller="Home">PASSWORD SAVER</a></h3>

	<!-- Nav -->
	
	
   <nav id="nav">
		<ul>
			<li class="current"><a href="/home/index">Home</a></li>
			<li>
				<a href="#">Account</a>
				<ul>
					<li><a href="/user/login">Login</a></li>
					<li><a href="/user/logout">Logout</a></li>
					<li><a href="/user/register">Register</a></li>
					
					
				</ul>
			</li><li>
					<a href="/passwords/index">My passwords</a>
			</li>
			<li><a href="/home/contacts">Contacts</a></li>

		</ul>
	</nav>

</div>