<section class="wrapper style2">
	<div class="container">
		<header class="major">
			<h2>A gigantic heading you can use for whatever</h2>
			<p>With a much smaller subtitle hanging out just below it</p>
		</header>
	</div>
</section>

<!-- Posts -->
<div class="generated-text"><h5> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus. Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a, hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. Praesent iaculis velit libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis felis pellentesque id. Donec non lacus diam.</h5></div>
@*<section class="wrapper style1">
	<div class="container">
		<div class="row">
			<section class="col-6 col-12-narrower">
				<div class="box post">
					<a href="#" class="image left"><img src="images/pic01.jpg" alt="" /></a>
					<div class="inner">
						<h3>The First Thing</h3>
						<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
					</div>
				</div>
			</section>
			<section class="col-6 col-12-narrower">
				<div class="box post">
					<a href="#" class="image left"><img src="images/pic02.jpg" alt="" /></a>
					<div class="inner">
						<h3>The Second Thing</h3>
						<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
					</div>
				</div>
			</section>
		</div>
		<div class="row">
			<section class="col-6 col-12-narrower">
				<div class="box post">
					<a href="#" class="image left"><img src="images/pic03.jpg" alt="" /></a>
					<div class="inner">
						<h3>The Third Thing</h3>
						<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
					</div>
				</div>
			</section>
			<section class="col-6 col-12-narrower">
				<div class="box post">
					<a href="#" class="image left"><img src="images/pic04.jpg" alt="" /></a>
					<div class="inner">
						<h3>The Fourth Thing</h3>
						<p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>*@