

<!DOCTYPE html>
<html >

<body>
    <div>
        <p>My name is Ivan Zubets. I am a begginer .NET developer and this is first big (for me) project</p>
        <p>If you a Microsoft recrutier you can send your offer here :) - <b>onezub2008@gmail.com</b></p>
    </div>
</body>
</html>
