@model PracticalWork.DataAccess.Model.UserPasswords

@{
  
    Layout = "_Layout";
}

<h3>Delete Password</h3>

<h4>Are you sure that you want to delete this password</h4>
<div>
    <h5>@Html.DisplayFor(model => model.UserName)</h5>
    <hr />
    <dl class="row">
        
        <h5 class="col-sm-10">
            @Html.DisplayFor(model => model.UserPassword)
        </h5>
       
       
    </dl>

    <div class="row">
        <div class="col-4">
            <form asp-action="Delete">
                <input type="hidden" asp-for="PasswordId" />
                <input type="submit" value="Delete" />
            </form>
        </div>
        <div class="col-4">
            <form asp-action="Index" asp-controller="Passwords">
                <button>Back to Passwords</button>
            </form>
        </div>
    </div>
</div>
