@model PracticalWork.DataAccess.Model.UserPasswords

@{
    Layout = "_Layout";
}

<h3>Edit password</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"asp-controller="Passwords">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PasswordId" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label">User Name</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPassword" class="control-label">Password</label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>
<form asp-action="Index" asp-asp-controller="Passwords">
    <button>Back to Passwords</button>
</form>